<img src="assets/accueil.PNG" alt="ile"/>
<h1 class="c2">Destinations to visit   </h1>
<button [routerLink]="['/voyage']"  class="btn btn-warning" id="i" >Read More>></button>
<br><br>
<table>
<tr>
<td> <img src="assets/istanbul.PNG" alt="istanbul"class="c1"/><h2>Istanbul(Turquie)</h2></td>
<td> <img src="assets/madrid.PNG" alt="espagne"class="c1"/><h2>Madrid(Espagne)</h2></td>
<td><img src="assets/belgrade.PNG" alt="serbie" class="c1"/><h2 >Belgrade(Serbie)</h2></td>
</tr>
</table>  
<br><br>
<h1 class="c2">About Us  </h1>
<br>
<table>
<tr>
<td id="id2">Best Tunisia Travel 
    Créateur:Jlassi Nour 
    Que votre envie ou besoin de voyager, de découvrir de nouveaux pays et destination 
    et d'explorer et vivre une expérience innoubliable et réaliser votre réve ,tous les voyages 
    dont vous aves vesoin sur Best Tunisia Travel.
    Notre site vous permettra de découvrir de nouveaux pays ,vous allez découvrir tous les informations 
    concernant les voyages à faire graçe aux fiches descriptives.
    
    <button [routerLink]="['/information']"  class="btn btn-warning" id="i2" >Read More>></button> 

    </td><br><br>
<td><img src="assets/aèroport.jpg" alt="aèroport" id="id1"/></td>
</tr>
</table>
<br><br>
<h2 class="c2">Happy clients</h2>
<button [routerLink]="['/pointdevue']"  class="btn btn-warning" id="i" >Read More>></button>

<table><tr>
<td><img src="assets/a.jpg" alt="client" class="im1"/></td>
<td><img src="assets/c.jpg" alt="client" class="im1"/></td>
<td><img src="assets/d.jpg" alt="client" class="im1"/></td>

</tr>
<tr>
<td class="t">Mr Ahmed <br>le 03/12/2016<br>c'étais magnifique et innoubliable ! </td>
<td class="t"> Mdm Sophie<br>le 15/10/2018<br>vraiment j'ai passéé l'une des plus belles<br> vacances  que j'ai vecue </td>
<td class="t"> Mdm Lin<br>le 8/02/2019<br>vraiment c'étais innoubliable!</td>
</tr>

</table>
