img{
    width:1400px;
    height:500px;
}  
.c1{
width:300px;
height: 300px;
margin-left: 100px;
}
.c2{
background-color: rgb(27, 209, 233);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 40px;
font-style: oblique;
text-align: initial;
}
h2{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
#i{

    margin-left: 1250px;
    width:80px;
}
#id1{
width:500px;

}
#id2{
font-size: 27px;
font-style: oblique;

}
#i2{
    margin-left: 250px;
}
#i3{
    margin-left: 100px;
}
.im1{
    width:300px;
    height: 300px;
    margin-left: 100px;
}
.t{
    text-align: center;
}
